@*@model IEnumerable<EngitelExam.Web.Models.ViewModels.AppuntamentoVM>*@
@model EngitelExam.Web.Models.ViewModels.GiornoVM

<div style="min-height:100vh;" class="d-flex flex-column align-items-center justify-content-center">

    <h2 class="mb-4">Appuntamenti del giorno @Model.Date.ToString("dd/MM/yyyy")</h2>

    <div class="table-responsive mb-4">
        <table class="table table-striped table-bordered align-middle">
            <thead class="table-light">
                <tr>
                    <th>Famiglia</th>
                    <th>Status</th>
                    <th class="text-center">Azioni</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var a in Model.Appuntamenti)
                {
                    <tr>
                        <td>@a.NomeFamiglia</td>
                        <td>
                            <span class="badge bg-primary">
                                @a.Status
                            </span>
                        </td>
                        <td class="text-center d-flex flex-row align-items-center justify-content-around gap-3">
                            @if (a.Status == "Booked")
                            {
                                @Html.ActionLink(
                                    "Disdici Appuntamento",
                                    "Cancel",  //action del controller
                                    "Calendario",
                                    new { appuntamentoId = a.AppuntamentoId },
                                    new { @class = "btn btn-danger btn-sm" })

                                @Html.ActionLink(
                                    "Completa Appuntamento",
                                    "Step1",
                                    "Famiglia",
                                    new { dayId = a.DayId, appuntamentoId = a.AppuntamentoId },
                                    new { @class = "btn btn-success btn-sm" })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>


