@model EngitelExam.Web.Models.ViewModels.Step1FamigliaVM

<div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">

    <div class="my-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.DayId)  //nascosto, ma viene salvato nel submit cosi viene salvato nella Session!!
            <h2 class="mb-1">Step 1 - Dati Famiglia</h2>
            <p class="mb-3">Inserisci i dati riguardo la tua famiglia e le macchine possedute.</p>
            @Html.ValidationSummary(
                true,   // true = mostra SOLO errori model-level (here arrivano solo errori NON associati a proprietà) e.g.quelli che aggiungi w ModelState.AddModelError()
                "",
                new { @class = "text-danger mb-3" }
            )

            <div class="mb-3">
                <div class="mb-2">
                    @Html.LabelFor(m => m.NomeFamiglia, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.NomeFamiglia, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NomeFamiglia, "", new { @class = "text-danger" })
                </div>

                <div class="mb-2">
                    @Html.LabelFor(m => m.NumeroComponenti, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.NumeroComponenti, new { @class = "form-control", type = "number", min = "1", max = "10" })
                    @Html.ValidationMessageFor(m => m.NumeroComponenti, "", new { @class = "text-danger" })
                </div>

                <div class="">
                    @Html.LabelFor(m => m.NumeroComponentiWCar, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.NumeroComponentiWCar, new { @class = "form-control", type = "number", min = "0", max = "10" })
                    @Html.ValidationMessageFor(m => m.NumeroComponentiWCar, "", new { @class = "text-danger" })
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Continua</button>
        }
    </div>

</div>


